@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0% {
      transform: translateX(-100%);
      background-position: 0 0;
    }
    50% {
      transform: translateX(100%);
      background-position: 100% 0;
    }
    100% {
      transform: translateX(-100%);
      background-position: 0 0;
    }
  }
  
  .animate-wave {
    animation: wave 2s ease-in-out infinite;
    background: linear-gradient(to right, orange, red, yellow);
    background-size: 300% 100%;
    background-position: 0 0;
  }
  